@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  a {
    @apply text-[#3633FF] underline
  }
}

@font-face {
  font-family: AppleGaramond;
  font-weight: 400;
  src: url('~assets/fonts/apple_garamond/AppleGaramond.ttf') format('woff2')
}
